---
const socials = [
    {name: "LinkedIn", svg: "linkedin.svg", link: "https://linkedin.com/in/naej"},
    {name: "Github", svg: "github.svg", link: "https://www.linkedin.com/in/jean-bravo/"}
];
import linkedin from '../assets/linkedin.svg';
import github from '../assets/github.svg';
---
<footer>
    <div>
        {socials.map((social) => {
            return <a href={social.link}>
                        <img src={social.name == 'LinkedIn' ? linkedin.src : social.name == "Github" ? github.src : ''} alt={social.name} />
                    </a>
        })}
    </div>
    <small>© 2025 Jeandev, this portfolio is inspired by <a href="https://harlon.netlify.app/#projects"><u>Harlon</u></a></small>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 60%;
        max-width: 60%;
        border-top: 2px solid var(--color30);
        padding: 1rem;
        padding: var(--spacing3);
        @media screen and (max-width: 768px) {
			max-width: 100%;
			width: 100%;
		}
    }
</style>