---

---
<header class="header">
    <p>Jean dev</p>
    <div>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </div>
</header>
